<div id="post">
  <%= form_for @post,  html: { method: "post", class: "form post__form", enforce_utf8: false } do |f| %>

    <div class="post__select-box">
      <%= f.text_field :youtube_url, placeholder: "Youtubeの動画URLを入力してください", class: "post__input" %>
    </div>
    <div class="post__select-box">
      カテゴリー：
      <%= f.select :category_id,
                    options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
                    { prompt: '選択してください' },
                    { class: 'post__select' }
      %>
    </div>
    <%= f.submit "登録", class: "post__button" %>
  <% end %>
</div>
