<%= link_to post_path(post), class: "panel panel-index", data: { turbolinks: false } do %>
  <div class="panel__head">
    <%= image_tag("https://img.youtube.com/vi/#{post.youtube_url}/mqdefault.jpg", class: "panel__img") %>
    <div class="panel-cover">
        <i class="fas fa-link panel__icon-link"></i>
    </div>
  </div>
  <div class="panel__body">
      <%= post.title %>
  </div>
<% end %>
