@import "bootstrap";
@import "bootstrap-sprockets";
@import url("reset.css");

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$state-danger-text: red;
$gray-lighter: gray;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* ==================================
      ヘッダー
===================================  */
.header {
    // background: #013156;
    width: 100%;
    //height: 80px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

.header__title {
  line-height: 80px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.header__link {
  font-size: 25px;
  color: black;
  text-decoration: none;
	transition: all .7s;
}
.header__link:hover {
  color: skyblue;
	transition: all .7s;
	transform: scale(1.1);
  text-decoration: none;
}


.header__title_sub {
  margin-top: 10px;
  margin-bottom: -20px;
  opacity: 0.4;
  font-size: 13px;
}

/* ==================================
      ヒーロー画像
===================================  */

.hero {
  margin-top: 20px;
  position: relative;
  height: 180px;
}

.hero-copy {
  position: relative;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 0 7px 7px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.filter {
  background: #000;
  height: 420px;

}

.hero__img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  position: absolute;
  opacity: .6;
  background: #000;
  opacity: .6;
}



/* ==================================
      ナビゲーション
===================================  */

.nav {
    /* margin-right: 230px; */
}


.nav__menu {
  line-height: 80px;
  list-style: none;
  position: relative;
}

.nav__menu-item  {
  float: right;
  margin: 0 10px;
  border: 2px solid skyblue;
  padding: 5px;
}

.nav__link {
  color: white;
  text-decoration: none;
  padding: 10px;
	background: #f6f5f4;
}
.nav__link:hover {
  color: white;
	background: skyblue;
}

.nav_icon {
  float: right;
  cursor: pointer;
}
.nav_link {
  float: right;
}

.nav_mypage {
  line-height: 80px;
}

.nav_child {
  overflow: hidden;
  width: 10%;
  display: none;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  top: 48px;
  right: 0%;
  background-color: #fff;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 3;
  text-align: left;

  &_link {
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    //border-bottom: 1px solid black;
    font-size: 12px;
    transition: .6s;
    padding-left: 7px;
  }
  &_link:hover {
    text-decoration: none;
    background-color: skyblue;
    color: white;
    transition: .6s;
  }
}


/* ==================================
      レイアウト
===================================  */

.site-width {
  width: 1140px;
  margin: 0 auto;
}
.main-container {
  overflow: hidden;
  z-index: 2;
  position: relative;
}

#contents {
    width: 100%;
    min-height: 600px;
    margin: 20px 0;
    overflow: hidden;
}


#main {
    width: 820px;
    float: right;
}


.site-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 22px;
}

#main.form-container {
    margin: auto;
}

#main.feed-container {
  margin: auto;
  box-sizing: border-box;

	/* border: 1px solid black; */
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.list {
	margin-bottom: 30px;
}

::placeholder  {
    opacity: .6;
}


/* ==================================
      ページネーション
===================================  */



/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

/*========================================
  フッター
========================================*/
.footer {
    background: #013156;
    width: 100%;
    color: white;
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
}


/*========================================
  フォーム
========================================*/


.form-container {
  width:450px;
  margin: 80px auto;
  border: 3px solid #bababa;
}

.form-container.search{
	width: 100%;
}

.form {
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
	background: #f6f5f4;
}

.form__title {
	margin-bottom: 10px;
}

.form__input {
	background: #fff;
}

.input[type="text"],
.input[type="password"],
.select {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    box-sizing: border-box;

    border: none;
	border-radius: 5px;
}

.form__name, .form__email, .form__pass, .form__repass,
.select,  {
  line-height: 40px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
	border-radius: 5px;
}

.form__img {
  margin-bottom: 20px;
  display: block;
  margin: 25px auto;
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);

  &_field {
    display: none;
  }
}

.edit_img_label {
  background: skyblue;
  transition: all .7s;
  display: block;
  width: 60%;
  margin: 30px auto;
  margin-top: 55px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  color: #337ab7;
  margin-left: 120%;
  &:hover {
    color: white;
    transition: all .7s;
    transform: scale(1.05);
    text-decoration: none;
  }
}


.edit_btn {
    margin-top: -10%;
}

.edit_img_container {
  margin-top: 80px;
  float: left;
  width: 50%;
}


.selected_img {
  background: #eee;
}
.is_active {
  display: block;
}

.edit_img_container {
  position: relative;
}
#preview {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  box-shadow: 0 0 8px grey;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}






/* ==================================
      パネル
===================================  */

.feed-container {
  margin-top: 150px;
}
.panel-list {
	overflow: hidden;
  min-height: 150px;
}

.feed-container .panel {
  height: 220px;
}

.panel {
  height: 200px;
	float: left;
	color: #013156;
	text-decoration: none;
	margin: 10px;
  margin-bottom: 60px;
	position: relative;
}

.panel-index {
	width: 30%;
}


.panel__head {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.panel__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.panel__price {
	margin-top: 10px;
}

.panel-container {
	position: relative;
	width: 100%;
}

.panel-cover {
	position: absolute;
  width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	transform: scale(1.1);
	transition: all .4s;
	opacity: 0;
	text-align: center;
}

.panel-cover:hover {
	position: absolute;
  width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: .7;
	transform: scale(1.0);
	transition: all .4s;
}

.panel__icon-link {
	position: relative;
	top: 45%;
	color: #fff;
	font-size: 50px;
}






/*========================================
  検索エリア
========================================*/


#search {
  width: 80%;
  margin: 0 auto;
}

.search-title {
	width: 100%;
	height: 40px;
	background: #eee;
	margin-bottom: 30px;
	padding: 5px 15px;
	line-height: 40px;
	box-sizing: border-box;
	overflow: hidden;
}

.search-left {
	float: left;
}
.search-left .total-num {
	font-size: 16px;
	font-weight: bold;
	padding-right: 5px;
}
.search-right {
	float: right;
}

.search__form {
  box-sizing: border-box;
  margin: 0 auto;
  background: white;
}


.search__select-box {
	float: left;
  border-right: 1px solid #d5d5d8;
}
.search__select-box:first-child {
  width: 56%;
}

.search__input {
	width: 100%;
	height: 40px;
	font-size: 18px;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid #d5d5d8;
}

.search__input::placeholder {
  text-align: center;
}

.search__select {
	margin-bottom: 0;
	padding: 5px;
	font-size: 14px;
	display: inline-block;
  height: 40px;
	width: 150px;
	background: #fff;
  border: none;

}

.search__button {
	-webkit-appearance: none;
  width: 99px;
  height: 44px;
	transition: all .6s;
  background: skyblue;
  border: none;
}

.search__button:hover {
	cursor: pointer;
  opacity: .6;
}


.search__button-title{
	padding: 0 10px;
	font-size: 15px;
}



.form__input-num {
    width: 180px;
    height: 60px;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: none;
    display: block;
}


.form__select {
    background: #fff;
}
.form__submit {
    float: right;
    margin: 10px 0;
}
.form__signin {
    margin: 10px 3px;
}

form .area-msg {
    color: red;
    margin-bottom: 15px;
}




/*========================================
 	utility
========================================*/

.error {
	background: #f7dcd9;
}
input[type="text"].error,
input[type="number"].error,
input[type="file"].error {
    background: #f7dcd9;
}

.horizon-container {
  margin-top: 40px;
	margin-bottom: 20px;
}

.horizon-container .title{
	padding: 5px 10px;
	font-size: 25px;
	margin-bottom: 10px;
	display: inline-block;

}

.horizon-container::after{
	content: '';
	border-top: 1px solid #cccccc;
	display: block;
	top: 10px;
}

.required {
  background: #fe8a8b;
  color: white;
  padding: 7px 5px;
  margin: 0 7px;
  font-size: 14px;
  border-radius: 50px;
}
.clear-decoration {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
	text-decoration: none;
}

.clear-decoration:hover {
  // border: none;  /* 枠線を消す */
  // outline: none; /* クリックしたときに表示される枠線を消す */
  // background: transparent; /* 背景の灰色を消す */
	text-decoration: none;
}

 //----	フラッシュ------


.notifications {
  color: white;
  text-align: center;

  .alert-success {
    background-color: #4caf50;
    color: #333;
  }

  .alert-error {
    background-color: red;
  }
}

.flash-msg {
	position: fixed;
	display: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	opacity: .8;
}


/*========================================
 	レビュー投稿
========================================*/


.form-review {
  // display: flex;
  // justify-content: center;
}
.form-review  > .btn {
  display: block;
  /* text-align: center; */
  margin: 0 auto;
}

.form-review__content {
  border: 2px #999 solid;
  min-height: 100px;
  display: block;
}

/*========================================
 	フラッシュ
========================================*/

.notifications {
  color: white;
  text-align: center;

  .alert-notice {
    background-color: #4caf50;
    color: #333;
  }

  .alert-error {
    background-color: red;
  }
}

.flash-msg {
	position: fixed;
	display: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	opacity: .8;
}
