@import "bootstrap";
@import url("reset.css");

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$state-danger-text: red;
$gray-lighter: gray;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* ==================================
      ヘッダー
===================================  */
.header {
    background: #013156;
    width: 100%;
    height: 80px;
}

.header__title {
  line-height: 80px;
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.header__link {
  color: #fff;
  text-decoration: none;
	transition: all .7s;
}
.header__link:hover {
    color: skyblue;
	transition: all .7s;
	transform: scale(1.1);
}

/* ==================================
      ナビゲーション
===================================  */

.nav {
    /* margin-right: 230px; */
}


.nav__menu {
    line-height: 80px;
    list-style: none;
}

.nav__menu-item  {
    float: right;
    margin: 0 10px;
}

.nav__link {
    color: white;
    text-decoration: none;
    padding: 10px;
	background: #f6f5f4;
}
.nav__link:hover {
    color: white;
	background: skyblue;
}


/* ==================================
      レイアウト
===================================  */

.site-width {
  width: 980px;
  margin: 0 auto;
  /* background: grey;
  height: 900px; */
}
.main-container {
    overflow: hidden;
}

#contents {
    width: 100%;
    min-height: 600px;
    margin: 20px 0;
    overflow: hidden;
}


#main {
    width: 760px;
    float: left;
}


.site-title {
    text-align: center;
    margin-bottom: 50px;
	font-size: 30px;
}

#main.form-container {
    margin: auto;
}

#main.feed-container {
    margin: auto;
	box-sizing: border-box;
	/* border: 1px solid black; */
}

.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

.list {
	margin-bottom: 30px;
}

::placeholder  {
    opacity: .6;
}


/* ==================================
      ページネーション
===================================  */



/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

/*========================================
  フッター
========================================*/
.footer {
    background: #013156;
    width: 100%;
    color: white;
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
}


/*========================================
  フォーム
========================================*/


.form-container {
    width:450px;
    margin: 80px auto;
    border: 3px solid #bababa;

}

.form-container.search{
	width: 100%;
}

.form {
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
	background: #f6f5f4;
}

.form__title {
	margin-bottom: 10px;
}

.form__input {
	background: #fff;
}

.input[type="text"],
.input[type="password"],
.select, form textarea {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    box-sizing: border-box;
    // margin-bottom: 20px;
    border: none;
	border-radius: 5px;
}

.form__name, .form__email, .form__pass, .form__repass,
.select,  {
  line-height: 40px;
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
	border-radius: 5px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}






/* ==================================
      パネル
===================================  */


.panel-list {
	overflow: hidden;
  min-height: 150px;
}

.feed-container .panel {
  height: 220px;
}

.panel {
  height: 200px;
	float: left;
	color: #013156;
	text-decoration: none;
	margin: 10px;
  margin-bottom: 60px;
	position: relative;
}

.panel-index {
	width: 30%;
}


.panel__head {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.panel__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.panel__price {
	margin-top: 10px;
}

.panel-container {
	position: relative;
	width: 100%;
}

.panel-cover {
	position: absolute;
  width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	transform: scale(1.1);
	transition: all .4s;
	opacity: 0;
	text-align: center;
}

.panel-cover:hover {
	position: absolute;
  width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: .7;
	transform: scale(1.0);
	transition: all .4s;
}

.panel__icon-link {
	position: relative;
	top: 45%;
	color: #fff;
	font-size: 50px;
}






/*========================================
  検索エリア
========================================*/

.search-title {
	width: 100%;
	height: 40px;
	background: #eee;
	margin-bottom: 30px;
	padding: 5px 15px;
	line-height: 40px;
	box-sizing: border-box;
	overflow: hidden;
}

.search-left {
	float: left;
}
.search-left .total-num {
	font-size: 16px;
	font-weight: bold;
	padding-right: 5px;
}
.search-right {
	float: right;
}

.search__form {
	padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}


.search__select-box {
	float: left;
	margin-right: 20px;
}
.search__select-box:first-child {
	width: 30%;
}

.search__input {
	width: 100%;
	border: 1px solid #c6c6c6;
	height: 40px;
	font-size: 18px;
    box-sizing: border-box;
	padding: 10px;
}
.search__select {
	margin-bottom: 0;
	padding: 10px;
	font-size: 14px;
	display: inline-block;
    height: 40px;
	border: 1px solid #c6c6c6;
	width: 150px;
	background: #fff;
}

.search__button {
	-webkit-appearance: none;
	height: 40px;
	transition: all .6s;
}

.search__button:hover {
	cursor: pointer;
	transform: translate(0, -5px);
	background: #0e3056;
	/* transform: scale(1.2); */
	transition: all .6s;
	color: #fff;
}


.search__button-title{
	padding: 0 10px;
	font-size: 15px;
}



.form__input-num {
    width: 180px;
    height: 60px;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: none;
    display: block;
}


.form__select {
    background: #fff;
}
.form__submit {
    float: right;
    margin: 10px 0;
}
.form__signin {
    margin: 10px 3px;
}

form .area-msg {
    color: red;
    margin-bottom: 15px;
}




/*========================================
 	utility
========================================*/

.error {
	background: #f7dcd9;
}
input[type="text"].error,
input[type="number"].error,
input[type="file"].error {
    background: #f7dcd9;
}

.horizon-container {
  margin-top: 40px;
	margin-bottom: 20px;
}

.horizon-container .title{
	padding: 5px 10px;
	font-size: 25px;
	margin-bottom: 10px;
	display: inline-block;

}

.horizon-container::after{
	content: '';
	border-top: 1px solid #cccccc;
	display: block;
	top: 10px;
}

.required {
    background: #fe8a8b;
    color: white;
    padding: 7px 5px;
	margin: 0 7px;
    font-size: 14px;
	border-radius: 50px;
}


 //----	フラッシュ------


.notifications {
  color: white;
  text-align: center;

  .alert-success {
    background-color: #4caf50;
    color: #333;
  }

  .alert-error {
    background-color: red;
  }
}

.flash-msg {
	position: fixed;
	display: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	opacity: .8;
}


/*========================================
 	レビュー投稿
========================================*/


.form-review {
  // display: flex;
  // justify-content: center;
}
.form-review  > .btn {
  display: block;
  /* text-align: center; */
  margin: 0 auto;
}

.form-review__content {
  border: 2px #999 solid;
  min-height: 100px;
  display: block;
}

/*========================================
 	フラッシュ
========================================*/

.notifications {
  color: white;
  text-align: center;

  .alert-notice {
    background-color: #4caf50;
    color: #333;
  }

  .alert-error {
    background-color: red;
  }
}

.flash-msg {
	position: fixed;
	display: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	opacity: .8;
}
