// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*========================================
　　投稿エリア
========================================*/

.post-title {
	width: 100%;
	height: 40px;
	background: #eee;
	margin-bottom: 30px;
	padding: 5px 15px;
	line-height: 40px;
	box-sizing: border-box;
	overflow: hidden;
}

.post-left {
	float: left;
}
.post-left .total-num {
	font-size: 16px;
	font-weight: bold;
	padding-right: 5px;
}
.post-right {
	float: right;
}

.post__form {
	padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}


.post__select-box {
	float: left;
	margin-right: 20px;
}
.post__select-box:first-child {
	width: 60%;
}

.post__input {
 width: 600px;
	border: 1px solid #c6c6c6;
	height: 40px;
	font-size: 18px;
    box-sizing: border-box;
	padding: 10px;
}
.post__select {
	margin-bottom: 0;
	padding: 5px;
	font-size: 14px;
	display: inline-block;
    height: 40px;
	border: 1px solid #c6c6c6;
	width: 150px;
	background: #fff;
}

.post__button {
	-webkit-appearance: none;
	height: 40px;
	transition: all .6s;
}

.post__button:hover {
	cursor: pointer;
	transform: translate(0, -5px);
	background: #0e3056;
	/* transform: scale(1.2); */
	transition: all .6s;
	color: #fff;
}


.post__button-title{
	padding: 0 10px;
	font-size: 15px;
}


.share__container {
	position: relative;
	margin-top: 30px;
  float: left;
  width: 50%;
}

.share__review {
	width: 538px;
  height: 189px;
  outline: none;
}

.share__title {
	background: white;
	border: 1px solid black;
	padding: 10px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 500px;
	overflow: hidden;
	margin: 20px auto;
}

.share__title_channel {
	padding: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 400px;
	overflow: hidden;
	margin: 4px auto;
	text-align: center;
}
.post__form__select {

}

.ribbon2 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;/*フォントサイズ*/
  background: #78d0f5;/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
	margin-bottom: 20px;
}

.ribbon2 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 1px #FFF;/*上の破線*/
  border-bottom: dashed 1px #FFF;/*下の破線*/
  //line-height: 46px;
}

.ribbon2:before, .ribbon2:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon2:before {
  /*左端の山形*/
  top: 0;
  left: 0;
  border-width: 30px 0px 30px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon2:after {
  /*右端の山形*/
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}


.ribbon12-wrapper {
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 10px 0;
  width: 450px;
	box-shadow: 0 0 8px grey;
}

.ribbon12 {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 0 0 -20px;
  width: calc(100% + 20px);
  font-size: 16px;
  color: white;
  background: skyblue;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ribbon12:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #6081b7;
}
/*========================================
  商品詳細レイアウト あとで修正必要
========================================*/

.product {

}
.product__category {
    background: #7acee6;
    color: white;
    padding: 2px 6px;
    margin: 0 3px;
    font-size: 25px;
}
.product__name {
	font-size: 25px;
}

.product__img-container {
	padding: 10px;
	// margin: 0 auto;
	// margin-top: 50px;
	// width: 60%;
}
.product__img {
	display: block;
	width: 100%;
	/* max-height: 600px;
	object-fit: cover; */

}

.product-comment {
	padding: 10px;
	background: #f6f5f4;
	width: 100%;
	display: block;
	float: left;
	margin: 20px 0;
	box-sizing: border-box;
}
p.comment {
	margin-top: 30px;
}

.product-buy {
	float: left;
	width: 100%;
	line-height: 52px;
}


.product-buy__item-left {
	font-size: 18px;
	display: block;
	float: left;
}

.product-buy__item-right {
	font-size: 25px;
	display: block;
	float: right;
	margin-right: 50px;
}
.product-buy__btn {
    font-size: 18px;
}

.product-buy__btn:hover {
    background: #ff5722;
	transform: scale(1.2);
}


.review {
	// display: flex;
 // justify-content: space-between;
	// align-items: center;
}

.review__name-icon {
	margin-left: 40px;
}


.omment-container {
	width: 70%;
	background: white;
	min-height: 30px;
}


.review__comment-container {
// 	padding: 5px;
// 	overflow: hidden;
// 	width: 700px;
// 	margin: 20px;
// 	border: 2px #999 solid;
// 	background-color: #f7f7f7;
}

.review__comment {
	// word-wrap: break-word;
	// padding: 10px;
	// color: #000;
	// font-size: 14px;
	// box-sizing: border-box;
}


.form-review__content {
	display: block;
	width: 100%;
	height: 60px;
	font-size: 18px;
	box-sizing: border-box;
	border-radius: 5px;
}
