<header class="header">
    <div class="site-width">
      <div class="header__title_sub">
        好きな動画が見つかるサービス
      </div>
      <div class="header__title">
        <%= link_to "Favorite Videos", root_path, { class: "header__link"} %>
      </div>
        <nav id="nav-top" class="nav">
            <ul class="nav__menu">
              <% if logged_in? %>
                <li class="nav__menu-item"><%= link_to "ログアウト", logout_path , { class: "nav__link btn btn-primary", method: :delete} %></li>
                <li class="nav__menu-item"><%= link_to "マイページ", user_path(current_user), { class: "nav__link btn btn-primary"} %></li>

              <% else %>
                <li class="nav__menu-item"><%= link_to "ログイン",  login_path, { class: "login_btn clear-decoration"} %></li>
              <% end %>
            </ul>
        </nav>
    </div>
</header>
