<section id="sidebar" class="sidebar-container">

    <button class="sidebar sidebar__btn" type="button" name="button">
        <%= link_to "プロフィール編集", edit_user_path, class: "sidebar sidebar__link" %>
    </button>
    <button class="sidebar sidebar__btn" type="button" name="button">
        <%= link_to "ユーザー一覧", users_path, class: "sidebar sidebar__link" %>
    </button>
    <button class="sidebar sidebar__btn" type="button" name="button">
        <a class="sidebar sidebar__link" href="withdraw.php">退会</a>
    </button>
</section>
